.header {
  box-sizing: border-box;
  .head-left {
    flex: 1;
    .fold-icon {
      width: 50px;
      height: 50px;
    }
  }
  .head-right {
    height: 100%;
    .user-right {
      position: relative;
      margin: 0 10px;
      span {
        margin: 0 5px;
        color: #606266;
      }
      .user-hove {
        position: absolute;
        left: 0;
        top: 10px;
      }
    }
  }
}
//#end;
return {
}
